<div class="main-container">
  <div class="table-container mat-elevation-z5">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="blend_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Blend Name </mat-header-cell>
        <mat-cell *matCellDef="let coffee" data-label="Blend Name"> {{ coffee.blend_name }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="intensifier">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Intensifier </mat-header-cell>
        <mat-cell *matCellDef="let coffee" data-label="Intensifier"> {{ coffee.intensifier }} </mat-cell>
      </ng-container>
  
      <!-- <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
        <mat-cell *matCellDef="let coffee" data-label="Notes"> {{ coffee.notes }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="origin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Origin </mat-header-cell>
        <mat-cell *matCellDef="let coffee" data-label="Origin"> {{ coffee.origin }} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let coffee" data-label="Operations" class="operations-cell">
          <button mat-icon-button (click)="showCoffeeDetails(coffee)" class="operation-buttons">
            <mat-icon>remove_red_eye</mat-icon>
          </button>

        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="variety">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Variety </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Variety"> {{ element.variety }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="noData">
        <mat-cell *matCellDef="let element"
          [attr.colspan]="displayedColumns.length">
          <ng-container *ngIf="!(error$ | async) && !loading">
            <span>No Coffees</span>
          </ng-container>
          <ng-container *ngIf="(error$ | async) && !loading">
            <span class="note-label">System Failure</span>
            <span class="note-content">Error</span>
            <span class="retry" (click)="retry()">Retry</span>
          </ng-container>
          <ng-container *ngIf="loading">
              <span class="note-label">Retrieving data...</span>  
            </ng-container>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></mat-header-row>
        <ng-container *ngIf="coffeeTotal && !loading">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </ng-container>
  
        <ng-container *ngIf="!coffeeTotal || loading">
          <mat-row *matRowDef="let row; columns: ['noData'];" class="no-data-row" ></mat-row>
        </ng-container>
    </mat-table>
  
    <mat-paginator [length]="coffeeTotal" [pageSize]="10"  [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>
